* {
    margin: 5%;
    padding: 5%;
}

body {
    background-color: lavenderblush;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}